@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.fdb-block {
    padding: 30px 0;
}

* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-Color: #658BFF;
    --secondary-Color: ;
    --text-Color: #000000;
    --alert-Color: #0099ff;
    --success-Color: #8BE0DD;
    --warning-Color: #ee8800;
    --error-Color: #fe514c;
    --grey-Color: #6d6d6d;
    --black-Color: #060606;
    --main-Background-Color: #FFFFFF;
    --secondary-Background-Color: ;
    --white-Color: #fff;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 11px 29px;
    --button-border-radius: 45px;
    --button-font-weight: 500;
    --heading: 35px;
    --heading-two: 25px;
}

/*headere2d79a3ca0c8814a*/
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .active>.nav-link,
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .nav-link{
    color: var(--black-Color);
    font-weight: var(--button-font-weight);
}
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .active>.nav-link:hover,
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .nav-link:hover{
    color: var(--primary-Color);
}
.headere2d79a3ca0c8814a .button {
    background-color: var(--primary-Color);
    box-shadow: none;
    font-weight: var(--button-font-weight);
    color: var(--white-Color);
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
}
/*abouth66a519b827a7d261*/
.abouth66a519b827a7d261 .DescriptionHeading {
    font-size: 50px;
    color: var(--black-Color);
}
.abouth66a519b827a7d261 .searchBtn{
    background-color: var(--primary-Color);
    box-shadow: none;
    font-weight: var(--button-font-weight);
    color: var(--white-Color);
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
}
/*abouteb092de7c8df0610*/
.abouteb092de7c8df0610 #AbOuTuS {
    padding: 3rem;
    font-weight: var(--button-font-weight);
}
/*serviceebfcf165e4ae5852*/
.serviceebfcf165e4ae5852 h2 {
    font-size: var(--heading);
}
.serviceebfcf165e4ae5852 .font-weight-bold {
    font-weight: var(--button-font-weight) !important;
}
/*formb6398e2eefdedd99*/
.formb6398e2eefdedd99 h1{
    font-size: var(--heading);
}
.formb6398e2eefdedd99 .btn-secondary,
.formb6398e2eefdedd99 .btn-secondary:hover,
.formb6398e2eefdedd99 .btn-secondary:not(:disabled):not(.disabled):active{
    background-color: var(--primary-Color);
    border: var(--primary-Color);
}
/*quickLinkq0c8d3826c0d518b0*/
.quickLinkq0c8d3826c0d518b0 .quicklink{
    color: var(--grey-Color);
}
.quickLinkq0c8d3826c0d518b0 .quicklink:hover {
    background-color: var(--primary-Color);
    border: 2px solid var(--primary-Color);
}
/*facianLRAkZ5pXHfmy7YA*/
.facianLRAkZ5pXHfmy7YA h1{
    font-size: var(--heading);
}
.facianLRAkZ5pXHfmy7YA h2{
    font-size: var(--heading-two);
}
.facianLRAkZ5pXHfmy7YA strong{
   font-weight: var(--button-font-weight);
}
.facianLRAkZ5pXHfmy7YA a,
.facianLRAkZ5pXHfmy7YA a:hover{
    color: var(--error-Color);
    text-decoration: none;
    background-color: transparent;
    font-weight: 600;
 }
/*bannerb9ce7550acbf1ce9f*/
 .bannerb9ce7550acbf1ce9f .background {
    background-image: url(http://rb.gy/5rpuxs);
    padding: 5rem;
}
.bannerb9ce7550acbf1ce9f .button,
.bannerb9ce7550acbf1ce9f .button:hover {
    background-color: var(--primary-Color);
    border: var(--primary-Color);
    color: var(--white-Color);
}
/*teama72342011f2d707e*/
.teama72342011f2d707e .row.heading h2{
    font-size: var(--heading);
    line-height: 0px;
    font-weight: var(--button-font-weight);
    margin: 0px;
    padding-bottom: 60px;
}
.teama72342011f2d707e .our-webcoderskull .cnt-block h3{
    color: var(--black-Color);
}
/*pricestej9qphfwo1*/
.pricestej9qphfwo1 .fdb-block {
    padding: 3.5rem 0;
    background-color: var(--white-Color);
    background-image: none;
}
.pricestej9qphfwo1 .fdb-block .fdb-box{
    background: var(--white-Color);
}
.pricestej9qphfwo1 h1 {
   font-size: var(--heading);
}
.pricestej9qphfwo1 h2 {
    font-size: var(--heading-two);
 }
.pricestej9qphfwo1 .text-white {
    color: var(--black-Color) !important;
}
.pricestej9qphfwo1 p {
    font-size: var(--heading-two);
}
.pricestej9qphfwo1 .btn-dark,
.pricestej9qphfwo1 .btn-dark:hover,
.pricestej9qphfwo1 .btn-dark:not(:disabled):not(.disabled):active,
.pricestej9qphfwo1 .btn-dark:focus,
.pricestej9qphfwo1 .fdb-block .btn-secondary,
.pricestej9qphfwo1 .btn-secondary:not(:disabled):not(.disabled):active{
    background-color: var(--primary-Color);
    border: var(--primary-Color);
    color: var(--white-Color);
}
/*clientsca9o7rhywmy*/
.clientsca9o7rhywmy h2{
    font-size: var(--heading);
    margin-top: 15px
}
/*footerf439c65adee997571*/
.footerf439c65adee997571{
    overflow: hidden;
}
.footerf439c65adee997571 .footer-wrap p {
    font-size: 16px;
    color: var(--black-Color);
}
.footerf439c65adee997571 .footer-links li a,
.footerf439c65adee997571 .footer-category li a,
.footerf439c65adee997571 .copyright{
    font-size: 16px;
    color: var(--black-Color);
}