@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.fdb-block {
    padding: 30px 0;
}

* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-Color: #658BFF;
    --secondary-Color: ;
    --text-Color: #000000;
    --alert-Color: #0099ff;
    --success-Color: #8BE0DD;
    --warning-Color: #ee8800;
    --error-Color: #fe514c;
    --grey-Color: #6d6d6d;
    --black-Color: #060606;
    --main-Background-Color: #FFFFFF;
    --secondary-Background-Color: ;
    --white-Color: #fff;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 11px 29px;
    --button-border-radius: 45px;
    --button-font-weight: 500;
    --heading: 35px;
    --heading-two: 25px;
}

/*headere2d79a3ca0c8814a*/
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .active>.nav-link,
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .nav-link{
    color: var(--black-Color);
    font-weight: var(--button-font-weight);
}
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .active>.nav-link:hover,
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .nav-link:hover{
    color: var(--primary-Color);
}
.headere2d79a3ca0c8814a .button {
    background-color: var(--primary-Color);
    box-shadow: none;
    font-weight: var(--button-font-weight);
    color: var(--white-Color);
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
}
/*abouth66a519b827a7d261*/
.abouth66a519b827a7d261 .DescriptionHeading {
    font-size: 50px;
    color: var(--black-Color);
}
.abouth66a519b827a7d261 .searchBtn{
    background-color: var(--primary-Color);
    box-shadow: none;
    font-weight: var(--button-font-weight);
    color: var(--white-Color);
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
}
/*abouteb092de7c8df0610*/
.abouteb092de7c8df0610 #AbOuTuS {
    padding: 3rem;
    font-weight: var(--button-font-weight);
}
/*serviceebfcf165e4ae5852*/
.serviceebfcf165e4ae5852 h2 {
    font-size: var(--heading);
}
.serviceebfcf165e4ae5852 .font-weight-bold {
    font-weight: var(--button-font-weight) !important;
}
/*formb6398e2eefdedd99*/
.formb6398e2eefdedd99 h1{
    font-size: var(--heading);
}
.formb6398e2eefdedd99 .btn-secondary,
.formb6398e2eefdedd99 .btn-secondary:hover,
.formb6398e2eefdedd99 .btn-secondary:not(:disabled):not(.disabled):active{
    background-color: var(--primary-Color);
    border: var(--primary-Color);
}
/*quickLinkq0c8d3826c0d518b0*/
.quickLinkq0c8d3826c0d518b0 .quicklink{
    color: var(--grey-Color);
}
.quickLinkq0c8d3826c0d518b0 .quicklink:hover {
    background-color: var(--primary-Color);
    border: 2px solid var(--primary-Color);
}